<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">NewProduct</a></li>
  </ul>
  <img
    src="https://images.vexels.com/media/users/3/132588/isolated/preview/b5cea7b13003c65e9b7e7c98c1607ff2-icono-de-bicicleta-bicicleta.png"
    alt="logo"
  />
</nav>
