<!-- Navbar -->
<nav class="navbar">
  <div class="navbar__top">
    <input type="text" placeholder="Pikachu..." />

    <ul class="top__icon">
      <li>
        <i class="fa-solid fa-message"></i>
      </li>
      <li>
        <i class="fa-solid fa-bell"></i>
      </li>
      <li>
        <i class="fa-solid fa-user-ninja"></i>
      </li>
    </ul>
  </div>
  <div class="navbar__bottom">
    <a href="/">
      <img class="navbar__logo" src="/images/printall.png" alt="Logo" />
    </a>
    <ul class="navbar__links">
      <li><a href="https://facebook.com">3d Models</a></li>
      <li><a href="https://facebook.com">Store</a></li>
      <li><a href="https://facebook.com">Brand</a>s</li>
      <li><a href="https://facebook.com">Blogs</a></li>
    </ul>
  </div>
</nav>
